<header class="site-header">

  <div class="grid">
    <div class="col-4-12">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="col-8-12">
      <nav class="nav-collapse">
        <ul>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a class="page-link" href="{{ site.baseurl }}/authors/richard.attermeyer">Über mich</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
