// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags

$color-1: #000000; // dark
$color-2: #c03b44; // red
$color-3: #eeeeee; // gray
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow
$background: $color-3;

// fonts

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;
