<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="grid grid-pad main-part">
      <div class="col-1-12"></div>
      <div class="col-9-12">
        {{ content }}
      </div>
      <div class="col-2-12">
        <form onsubmit="google_search()" >
          <input type="text" id="google-search" placeholder="Suchbegriff" style="width:100%">
        </form>
        <h3>Aktuelle Beiträge</h3>
        <ul class="archive-list">
        {% for post in site.posts limit:5 %}
          <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% include footer.html %}
    <script>
      var nav = responsiveNav(".nav-collapse");
    </script>
  </body>

  {% include disqus_commentcount.html %}
  {% if site.google_analytics_tracking_id %}
    {% include google_analytics.html %}
  {% endif %}


</html>
