<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="grid grid-pad main-part">
      <div class="col-9-12">
        {{ content }}
      </div>
      <div class="col-3-12">
        <input type="text" placeholder="Suchbegriff" style="width:100%  ">
        <h3>Aktuelle Beiträge</h3>
        <ul class="archive-list">
        {% for post in site.posts limit:5 %}
          <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% include disqus_commentcount.html %}

</html>
